//
// Variables
//

$bubble-size: 8px;

//
// Component
//

.bubbleList {
  position: relative;
  padding: $global-whitespace-large 0;

  &::before,
  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: ($bubble-size);
    transform: translateX(-50%);
    background: $global-font-color;
  }

  &::before {
    size: $bubble-size;
    border-radius: 50%;
  }

  &::after {
    bottom: 0;
    background: $global-font-color;
    width: 2px;
  }
}

.bubbleList-item {
  @include trimChildren();

  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  & + * {
    margin-top: $global-whitespace-medium;
  }

  > * + * {
    margin-left: $global-whitespace-medium;
  }

  &:last-of-type {
    &::after {
      content: '';
      z-index: 0;
      position: absolute;
      bottom: -$global-whitespace-large;
      left: ($bubble-size);
      transform: translateX(-50%);
      background: $global-font-color;
      size: $bubble-size;
      border-radius: 50%;
    }
  }

  &:hover,
  &:active {
    .bubbleList-item-bubble {
      transform: scale(1.25);
      background: $global-font-color;
    }
  }
}

.bubbleList-item-bubble {
  size: ($bubble-size * 2);
  border: 2px solid $global-font-color;
  background: $global-background;
  border-radius: 50%;
  box-shadow: 0 0 0 ($bubble-size / 2) $global-background;
  flex: none;
  transform-origin: center center;
  transition: transform 0.25s easeInOutBack, background 0.25s easeInOutBack;
  z-index: 1;
  position: relative;
}

.bubbleList-item-title-wrapper {
  margin-bottom: $global-whitespace-small;

  > * {
    margin-bottom: 0;
  }

  @media (max-width: $global-viewport-small-max) {
    > * + * {
      margin-top: $global-whitespace-small;
    }
  }

  @media (min-width: $global-viewport-medium) {
    display: flex;
    align-items: center;

    > * {
      &:first-child {
        margin-right: $global-whitespace-small;
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }
}

.bubbleList-item-title,
.bubbleList-item-link {
  @extend %u-textFluid--xlarge;
}

.bubbleList-item-link {
  @extend %u-linkHeading;
  @extend %u-textBold;
  @extend %u-linkHover;

  line-height: $global-line-height-small;
}
