.notFound-title {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: url('../media/pattern.png') no-repeat 50%;
  background-size: cover;
  font-size: 25vw !important;
  text-align: center;
}
