@font-face {
  font-family: Calibre;
  src:
    url('../fonts/Calibre-RWeb-Regular.woff2') format('woff2'),
    url('../fonts/Calibre-RWeb-Regular.woff') format('woff');
  font-weight: $global-font-weight;
  font-style: normal;
}

@font-face {
  font-family: Calibre;
  src:
    url('../fonts/Calibre-RWeb-Semibold.woff2') format('woff2'),
    url('../fonts/Calibre-RWeb-Semibold.woff') format('woff');
  font-weight: $global-font-weight-bold;
  font-style: normal;
}
