$global-primary: #1d8cf5;
$global-primary-hover: shade($global-primary, 5);
$global-primary-light: tint($global-primary, 90%);

$global-warning: #fcd000;
$global-warning-hover: shade($global-warning, 5);
$global-warning-light: tint($global-warning, 95%);

$global-danger: #f25041;
$global-danger-hover: shade($global-danger, 5);
$global-danger-light: tint($global-danger, 95%);
